<h1><a href="/pokemons">All Pokemon</a></h1>
<h2><%= @pokemon.name %></h2>
<img src="<%= @pokemon.img_url %>">
<h3>Attributes</h3>
<ul>
  <li>Poketype: <%= @pokemon.poke_type %></li>
  <li>CP: <%= @pokemon.cp %>
</ul>
<form action="/pokemons/<%= @pokemon.id %>" method="post">
<input name="_method" type="hidden" value="delete">
<input type="submit" value="Delete">
</form>
